services:
  mongo:
    image: mongo:6
    container_name: shoppinglist-mongo
    volumes:
      - mongo-data:/data/db
      - mongo-config:/data/configdb
    environment:
      - MONGO_INITDB_ROOT_USERNAME
      - MONGO_INITDB_ROOT_PASSWORD
      - MONGODB_URI
      - MONGODB_DB
      - API_SERVER
    command: ["mongod"]
    networks:
      - backend

  shoppinglist:
    build: .
    container_name: shoppinglist-app
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    environment:
      - NODE_ENV
      - MONGO_INITDB_ROOT_USERNAME
      - MONGO_INITDB_ROOT_PASSWORD
      - MONGODB_URI
      - MONGODB_DB
      - API_SERVER

    networks:
      - backend
      - default


volumes:
  mongo-data:
  mongo-config:
  
networks:
  backend:
    internal: true
  default:
    driver: bridge

  
