*{
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color:black;
  font-weight: normal;
  font-size: 16px;
}

a{
  color:black;
}

/* rules */

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;   
  align-items: center;
}

header { 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

h1 {
  font-size: 2em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}